.chat {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.dialogues {
  position: relative;
  overflow: scroll;
  padding: 0 35px 92px;
  z-index: 0;
  height: 90%;
}

.text-input {
  padding: 10px;
  z-index: 1;
}

.message {
  font-size: 14px;
  position: relative;
  display: grid;
  grid-template-columns: 1fr 4fr;
  clear: both;
}

.message-sender {
  font-size: 12px;
  grid-column-start: 2;
  justify-self: end;
}

.you {
  grid-column-start: 2;
  color: white;
  background-color: rgb(6, 180, 238);
  justify-self: end;
  margin-bottom: 8px;
  padding: 13px 14px;
  border-radius: 5px;
  max-width: 300px;
}

.message-responder {
  font-size: 12px;
  grid-column-start: 2;
}

.responder-image-container{
  justify-self: right;
  padding-right: 5px;
}

#responder-image {
  border-radius: 9999px;
  height: 2rem;
  width: 2rem;
}

.them {
  color: black;
  background-color: #eceff1;
  margin-bottom: 8px;
  padding: 13px 14px;
  border-radius: 5px;
  max-width: 300px;
  justify-self: start;
}

.chat-bottom {
  position: relative;
  display: block;
  clear: both;
  width: 100%;
}

textarea {
  width: 100%;
  border: none;
  padding: 10px 20px;
  font: 14px/22px 'Lato', Arial, sans-serif;
  margin-bottom: 10px;
  border-radius: 5px;
  resize: none;
}

.send {
  float: right;
  border: 1px solid rgba(0, 156, 156, 1);
  border-radius: 0.25rem;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  background-color: transparent;
  color: white;
  padding: 0.5em;
}

.send:hover {
  color: black;
  background-color: white;
}

.send:disabled {
  color: gray;
  cursor: auto;
  background-color: transparent;
}

select {
  border: 1px solid rgba(0, 156, 156, 1);
  border-radius: 0.25rem;
  background-color: transparent;
  color: white;
  font-size: 16px;
  cursor: pointer;
  padding: 0.5em;
}

.type-dropdown {
  float: left;
}

.dot {
  border-radius: 9999px;
  height: 0.5rem;
  width: 0.5rem;

  background: rgba(148 163 184 / 1);
  animation: blink 1s infinite;
  opacity: 0;
}

.dot:nth-child(1) {
  animation-delay: 0.3333s;
}
.dot:nth-child(2) {
  animation-delay: 0.6666s;
}
.dot:nth-child(3) {
  animation-delay: 0.9999s;
}

.container {
  align-items: center;
  display: flex;
  justify-content: center;
  gap: 0.25rem;

  background: #eceff1;
  border-radius: 9999px;
  padding: 1rem;
  width: 4rem;
}

@keyframes blink {
  50% {
      opacity: 1;
  }
}
