/*
$clr-main-brand
$clr-dark-accent // dark accent
$clr-light-accent // light accent
$clr-dark-shade-light
$clr-dark-shade-dark
$clr-text-light // used on dark bg
$clr-text-dark // used on light bg


*/
.colorblock {
  width: 100px;
  height: 50px;
}

.bg1 {
  background-color: #1e232c;
}

.bg2 {
  background-color: #6e6f6f;
}

.bg3 {
  background-color: #7d9a8f;
}

.bg4 {
  background-color: #1ada8d;
}

.bg5 {
  background-color: #f0f1f2;
}

body {
  margin: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: #f0f1f2;
}

h1 {
  font-size: 1.6em;
}

button {
  border: 1px solid rgba(0, 0, 0, 0.3);
  background-color: rgba(255, 255, 255, 0.2);
}

.navbar {
  background-color: #6e6f6f;
}

.navbtn {
  width: 160px;
  padding: 10px 20px;
  color: #aeafaf;
  cursor: pointer;
}
.navbtn:hover {
  color: #333b4a;
  background-color: #878989;
}
.navbtn.selected {
  color: #f0f1f2;
  background-color: #1e232c;
}

.login {
  color: #aeafaf;
  padding: 10px 20px;
}

.main {
  background-color: #1e232c;
}

.controlpanel {
  color: #7585a1;
  background-color: #282f3b;
}

.controlpanel-sub {
  color: #7585a1;
  background-color: #333b4a;
}

.agentspanel {
  color: #7585a1;
  background-color: #1e232c;
}

.codepanel {
  color: #93a0b6;
  background-color: #333b4a;
}

.codeblock {
  font-family: monospace;
  padding: 10px;
  overflow-y: scroll;
  color: rgba(240, 241, 242, 0.7);
  background-color: #475369;
}

.scriptpanel {
  overflow: scroll;
  color: #93a0b6;
  background-color: #333b4a;
}

.propertylist {
  font-size: 0.8em;
  padding: 5px;
  color: rgba(255, 255, 255, 0.5);
  background-color: rgba(255, 255, 255, 0.05);
}
.propertylist .propertylist-item {
  display: flex;
  cursor: pointer;
}
.propertylist .propertylist-item:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
.propertylist .propertylist-item.selected {
  background-color: rgba(26, 218, 141, 0.2);
}
.propertylist .propertylist-item .label {
  display: block;
  flex-grow: 1;
}
.propertylist .propertylist-item .value {
  width: 50px;
  overflow: hidden;
}

.close-btn {
  color: rgba(255, 255, 255, 0.5);
  background: none;
  border: none;
  cursor: pointer;
}
.close-btn:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.editorItem {
  display: flex;
  margin-bottom: 10px;
}

.editorLabel {
  width: 120px;
  padding-right: 10px;
  text-align: right;
}
.editorLabel::after {
  content: ": ";
}

.editorValue {
  width: 80%;
}

.scriptItem {
  display: flex;
  flex-direction: column;
}
.scriptItem select {
  margin-left: 2px;
}

.expressionAction {
  background-color: rgba(0, 0, 255, 0.3);
  margin-bottom: 10px;
}

.expression {
  display: flex;
  padding: 0 5px;
  background-color: rgba(0, 255, 0, 0.2);
}

select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
  padding: 4px 0 0 5px;
  border: none;
  border-right: 10px solid rgba(255, 255, 255, 0);
  background-color: rgba(255, 255, 255, 0.2);
}
select:hover {
  border-right: 10px solid rgba(255, 255, 255, 0.2);
  background-color: rgba(255, 255, 255, 0.4);
}

.typeSelector {
  color: rgba(0, 0, 0, 0.3);
}

.modelpanel {
  background-color: #f0f1f2;
  border: 10px solid #648075;
}

.runpanel {
  color: #7d9a8f;
}

.instancespanel {
  color: #c5d2cd;
  background-color: #648075;
}

.instancepanel {
  color: #c5d2cd;
  background-color: #7d9a8f;
}

.instanceviewer {
  color: #c5d2cd;
  background-color: #809c91;
}

.log {
  font-family: monospace;
  background-color: #6f8f83;
}

.syslabel {
  padding: 5px;
  font-size: 0.8em;
}
.syslabel.dark {
  color: #1e232c;
}

.projectbtn {
  padding: 10px 20px;
  margin: 0 20px 20px 0;
  border-radius: 10px;
  width: 160px;
  height: 160px;
  font-size: 1.2em;
  background-color: #7d9a8f;
  cursor: pointer;
}
.projectbtn.shared {
  font-style: italic;
  background-color: #9ab0a8;
}
.projectbtn.new {
  padding: 5px;
  border: 5px dotted #7d9a8f;
  color: #7d9a8f;
  font-size: 70px;
  line-height: 160px;
  text-align: center;
  background-color: transparent;
}

.agent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80px;
  margin: 5px;
  font-size: 0.8em;
  color: #1e232c;
  background-color: #1ada8d;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
}
.agent.annotation {
  background-color: rgba(26, 218, 141, 0.3);
}
.agent.world, .agent.timer {
  background-color: rgba(26, 218, 141, 0.1);
}
.agent.controlled {
  border: 3px solid #ff3333;
}

.agentspanel .agent {
  color: #1ada8d;
  background-color: rgba(26, 218, 141, 0.2);
  /* fallback border border: 3px dotted $agent-bg; */
  /* from https://kovart.github.io/dashed-border-generator/ */
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='rgba(0,256,0,0.2)' stroke-width='2' stroke-dasharray='2%2c 4' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
}

.agent-addbtn {
  width: 30px;
  height: 30px;
  margin: 10px;
  font-size: 32px;
  line-height: 30px;
  text-align: center;
  border-radius: 20px;
  border: 1px solid #1e232c;
  color: #6e6f6f;
}
.agent-addbtn:hover {
  color: #f0f1f2;
  background-color: #6e6f6f;
}

.agent-bar {
  padding: 5px 0;
  cursor: pointer;
}
.agent-bar.selected {
  background-color: rgba(26, 218, 141, 0.25);
}
.agent-bar:hover {
  background-color: rgba(26, 218, 141, 0.25);
}

.modelPane {
  position: relative;
}

.modelSurface {
  position: absolute;
}

.modelSurface .agent {
  position: absolute;
  height: 50px;
}

.inspector {
  font-size: 0.8em;
  padding: 5px 10px;
  color: #f0f1f2;
  background-color: rgba(125, 154, 143, 0.4);
}

.inspector-label {
  color: rgba(240, 241, 242, 0.3);
}

.inspector-value {
  font-size: 1.3em;
  font-family: monospace;
  color: #f0f1f2;
}

.files-list {
  font-size: 0.9em;
}

.files-list-item .files-list-item-filename {
  opacity: 0.7;
}
.files-list-item:hover {
  background-color: rgba(26, 218, 141, 0.25);
}
.files-list-item:hover .files-list-item-edit-btn {
  background-color: rgba(26, 218, 141, 0.25);
}
.files-list-item.selected {
  background-color: rgba(26, 218, 141, 0.25);
}
.files-list-item .files-list-item-edit-btn:hover {
  color: white;
  cursor: pointer;
}

.devnote {
  font-family: monospace;
  font-size: 10px;
  color: red;
}
.devnote::before {
  content: "DEV NOTE: ";
}

/*# sourceMappingURL=/src.e31bb0bc.css.map */