// http://colormind.io/ Princess Kaguya
$clr-dark-shade: #1e232c;
$clr-dark-accent: #6e6f6f;
$clr-main-brand: #1ada8d;
$clr-light-accent: #7d9a8f;
$clr-light-shade: #f0f1f2;
$clr-attn: #ff3333;

// // http://colormind.io/ Princess Kaguya
// $clr-dark-shade: #48404a;
// $clr-dark-accent: #353542;
// $clr-main-brand: #84837f;
// $clr-light-accent: #464944;
// $clr-light-shade: #b1b5ae;
// $clr-attn: #ff3333;

/*
$clr-main-brand
$clr-dark-accent // dark accent
$clr-light-accent // light accent
$clr-dark-shade-light
$clr-dark-shade-dark
$clr-text-light // used on dark bg
$clr-text-dark // used on light bg


*/

// $ui-focus-* is the color for the main element
// where the users' attention is
$ui-focus-hover: fade-out($clr-main-brand, 0.75);
$ui-focus-selected: fade-out($clr-main-brand, 0.75);

.colorblock {
  width: 100px; height: 50px; // for color scheme
}
.bg1 {
  background-color: $clr-dark-shade;
}
.bg2 {
  background-color: $clr-dark-accent;
}
.bg3 {
  background-color: $clr-light-accent;
}
.bg4 {
  background-color: $clr-main-brand;
}
.bg5 {
  background-color: $clr-light-shade;
}



///////////////////////////////////////////////////////////////////////////////
// STYLES

body {
  //LAYOUT
  margin: 0; 

  // THEME
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: $clr-light-shade;
}

h1 {
  font-size: 1.6em;
}

button {
  border: 1px solid rgba(0,0,0,0.3);
  background-color: rgba(256,256,256,0.2);
}

// UI CLASSES
$main-bg: $clr-dark-shade;
$nav-text: lighten($clr-dark-accent, 25%);
$nav-bg: $clr-dark-accent;
$nav-padding: 10px 20px;

.navbar {
  background-color: $nav-bg;
}
.navbtn {
  width: 160px;
  padding: $nav-padding;
  color: $nav-text;
  cursor: pointer;
  
  &:hover {
    color: lighten($main-bg, 10%);
    background-color: lighten($nav-bg, 10%);
  }
  
  &.selected {
    color: $clr-light-shade;
    background-color: $main-bg; 
  }
}
.login {
  color: $nav-text;
  padding: $nav-padding;
}

.main {
  background-color: $main-bg;
}

.mainpanel {
  // padding: 10px 10px;
}

$template-bg: $main-bg;
.controlpanel {
  color: lighten($template-bg, 40%);;
  background-color: lighten($template-bg, 5%);
}
.controlpanel-sub {
  color: lighten($template-bg, 40%);;
  background-color: lighten($template-bg, 10%);
}
.agentspanel {
  color: lighten($template-bg, 40%);;
  background-color: $template-bg;
}
.codepanel {
  color: lighten($template-bg, 50%);
  background-color: lighten($template-bg, 10%);  // associate with control panel
}
.codeblock {
  font-family: monospace;
  padding: 10px;
  overflow-y: scroll;
  color: fade-out($clr-light-shade, 0.3);
  background-color: lighten($template-bg, 20%);
}
.scriptpanel {
  overflow: scroll;
  color: lighten($template-bg, 50%);
  background-color: lighten($template-bg, 10%);  // associate with control panel
}
.propertylist {
  font-size: 0.8em;
  padding: 5px;
  color: fade-out(white, .5);
  background-color: fade-out(white, .95);
  
  .propertylist-item {
    display: flex;
    cursor: pointer;
    
    &:hover {
      background-color: fade-out(white, .9);
    }
    &.selected {
      background-color: fade-out($clr-main-brand, .8);
    }
    
    .label {
      display: block;
      flex-grow: 1;
    }
    .value {
      width: 50px;
      overflow: hidden;
    }
  }
}
.close-btn {
  color: fade-out(white, .5);
  background: none;
  border: none;
  cursor: pointer;
  &:hover {
    background-color: fade-out(white, .9);
  }
}
.editorItem {
  display: flex;
  margin-bottom: 10px;
}
.editorLabel {
  width: 120px;
  padding-right: 10px;
  text-align: right;
  &::after {
    content: ": ";
  }
}
.editorValue {
  width: 80%;
}
.scriptItem {
  display: flex;
  flex-direction: column;
  
  select {
    margin-left: 2px;
  }
}
.expressionAction {
  background-color: rgba(0,0,256,0.3);
  margin-bottom: 10px;
}
.expression {
  display: flex;
  padding: 0 5px;
  background-color: rgba(0,255,0,0.2);
}
// https://levelup.gitconnected.com/css-only-custom-styled-select-99b1b022bfbf
select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  
  cursor: pointer;
  
  padding: 4px 0 0 5px;
  border: none;
  border-right: 10px solid rgba(255,255,255,0);
  background-color: rgba(255,255,255,0.2);
  
  &:hover {
    border-right: 10px solid rgba(255,255,255,0.2);
    background-color: rgba(255,255,255,0.4);
  }
}
.typeSelector {
  color: rgba(0,0,0,0.3);  
}

$instances-bg: $clr-light-accent;

.modelpanel {
  background-color: $clr-light-shade;
  border: 10px solid darken($instances-bg, 10%);
}
.runpanel {
  color: $clr-light-accent;
}

.instancespanel {
  color: lighten($clr-light-accent, 25%);
  background-color: darken($instances-bg, 10%);  
}
.instancepanel {
  color: lighten($clr-light-accent, 25%);
  background-color: $instances-bg;  
}
.instanceviewer {
  color: lighten($clr-light-accent, 25%);
  background-color: lighten($instances-bg, 1%);  
}
.log {
  font-family: monospace;
  background-color: darken($instances-bg, 5%);      
}

.syslabel {
  padding: 5px;
  font-size: 0.8em;
  
  &.dark {
    color: $clr-dark-shade;
  }
}

$projectbtn-bg: $clr-light-accent;
.projectbtn {
  padding: $nav-padding;
  margin: 0 20px 20px 0;
  border-radius: 10px;
  width: 160px; height: 160px;
  font-size: 1.2em;
  background-color: $projectbtn-bg;
  cursor: pointer;
  
  &.shared {
    font-style: italic;
    background-color: lighten($projectbtn-bg, 10%);
  }
  
  &.new {
    padding: 5px;
    border: 5px dotted $projectbtn-bg;
    color: $projectbtn-bg;
    font-size: 70px;
    line-height: 160px;
    text-align: center;
    background-color: transparent;
  }
}

$agent-text: $clr-dark-shade;
$agent-bg: $clr-main-brand;
$agent-top-radius: 20px;
$agent-bottom-radius: 20px;
.agent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  width: 80px;
  margin: 5px;
  font-size: 0.8em;

  color: $agent-text;
  background-color: $agent-bg;  

  border-top-left-radius: $agent-top-radius;
  border-top-right-radius: $agent-bottom-radius;
  border-bottom-left-radius: $agent-bottom-radius;
  
  &.annotation {
    background-color: fade-out($agent-bg, 0.7);
  }
  
  &.world, &.timer {
    background-color: fade-out($agent-bg, 0.9);
  }
  
  &.selected {
    // border: 3px solid $clr-light-shade;
  }

  &.controlled {
    border: 3px solid $clr-attn;
  }
}
.agentspanel .agent {
  color: $agent-bg;
  background-color: fade-out($agent-bg, 0.8);
  
  /* fallback border border: 3px dotted $agent-bg; */
  /* from https://kovart.github.io/dashed-border-generator/ */
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='rgba(0,256,0,0.2)' stroke-width='2' stroke-dasharray='2%2c 4' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");  
}
.instancespanel .agent {
}
.agent-addbtn {
  width: 30px; height: 30px;
  margin: 10px;
  font-size: 32px;
  line-height: 30px;
  text-align: center;
  border-radius: $agent-top-radius;
  border: 1px solid $agent-text;
  color: $clr-dark-accent;
  
  &:hover {
    color: $clr-light-shade;
    background-color: $clr-dark-accent;
  }
}
.agent-bar { // bg behind agent on agent lists
  padding: 5px 0;
  cursor: pointer;
  
  &.selected {
    background-color: $ui-focus-selected;
  }
  
  &:hover {
    background-color: $ui-focus-hover;
  }
}

.modelPane {
  position: relative;
}
.modelSurface {
  position: absolute;
}
.modelSurface .agent {
  position: absolute;
  height: 50px;
}

$inspector-text: $clr-light-shade;
.inspector {
  font-size: 0.8em;
  padding: 5px 10px;
  color: $inspector-text;
  background-color: fade-out($clr-light-accent, 0.6);
}
.inspector-label {
  color: fade-out($inspector-text, 0.7);
}
.inspector-value {
  font-size: 1.3em;
  font-family: monospace;
  color: $inspector-text;
}


// FilesList UI
.files-list {
  font-size: 0.9em;  
}
.files-list-item {
  .files-list-item-filename {
    opacity: 0.7;
  }
  &:hover {
    background-color: $ui-focus-hover;
    
    .files-list-item-edit-btn {
      background-color: $ui-focus-selected;
    }
  }
  &.selected {
    background-color: $ui-focus-selected;
  }
  .files-list-item-edit-btn {
    &:hover {
      color: white;
      cursor: pointer;
    }
  }
}

.devnote {
  font-family: monospace;
  font-size: 10px;
  color: red;
  
  &::before {
    content: "DEV NOTE: ";
  }
}