<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <base href="/" />
    <title>TITLE</title>
    <script>
      /* old window.URSESSION code */
    </script>
  </head>

  <body>
    <div id="app-container"></div>
  </body>
  <!-- manually insert webpack bundle -->
  <script src="./web-bundle.js" defer></script>
</html>
